.back {
  display: block;
  z-index: 2;
  background: url(../img/brickwall.jpg) no-repeat center center;
  background-size: 260%;
  overflow: hidden;
  min-height: 23em;
  position: relative;
  background-color: rgb(191, 30, 71);
}

.nav {
  display: none;
  width: 100%;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 1em;
  text-align: right;
}

.nav li {
  text-decoration: none;
  list-style: none;
  z-index: 11;
}

.nav a {
  display: block;
  text-decoration: none;
  width: 300px;
  padding: .5em 2em;
  z-index: 12;
  font-weight: 300;
  color: white;
}

.nav-check {
  position: absolute;
  margin-top: -10em;
  z-index: 1;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 14;
}

.hamburger {
  width: 2.5em;
}

.ul-push {
  margin: 0;
  padding: 0;
}

.name-box-content {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 5%;
}

.name {
  width: 80%;
  margin: 0 auto;
  padding-bottom: .5em;
}

@media only screen and (min-width: 22em) {

  .back {
    background-size: 180%;
    min-height: 23em;
  }

  .name {
    width: 65%;
    margin: -2em auto 0 auto;
    padding-bottom: .5em;
  }

  .sub {
    font-size: .9em;
  }

  .nav {
    background-color: white;
    text-align: left;
  }

}

@media only screen and (min-width: 33em) {


  .back {
    background-size: 165%;
    min-height: 30em;
  }


  .nav-check {
    margin-top: -10em;
  } 

  .name {
    margin: -1em auto 0 auto;
    width: 55%;
  } 

  .sub {
    font-size: 1em;
  }

}

@media only screen and (min-width: 46em) {

  .name {
    width: 45%;
  } 

  .nav {
    background-color: transparent;
  }

  .nav {
    display: block;
    right: 0;
    text-align: right;
  }

  .nav a {
    width: 100%;
    padding: .5em .8em;
    transition: color 500ms linear;
  }

  .nav a:hover {
    color: rgba(255, 255, 255, .6);
  }

  .hamburger {
    display: none;
  }

}

@media only screen and (min-width: 60em) {


  .back {
    background-size: 120%;
    height: 35em;
  }

  .name {
    width: 35%;
  }

  .sub {
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 90em) {

  .back {
    min-height: 40em;
    background-size: 100%;
  }

  .name {
    width: 30%;
  }

}

@media only screen and (min-width: 120em) {

  .back {
    min-height: 50em;
    background-size: 100%;
  }

  .name {
    width: 25%;
  }

}