.footer {
  width: 100%;
  height: 10em;
  position: absolute;
}

.message-holder {
  left: 50%;
  right: 50%;
}

.footer-message {
  text-align: center;
  font-weight: 700;
  color: rgb(191, 30, 71);
}

.button-holder {
  text-align: center;
  width: 100%;
}

.buttons {
  width: 4em;
  display: inline-block;
  transition: opacity 500ms linear;
}

.buttons:hover {
  opacity: .7;
}

.top {
  width: 4em;
  padding-top: 2em;
  margin: 0 auto;
  padding-bottom: 2em;
  transition: opacity 500ms linear;
}

.top:hover {
  opacity: .7;
}

@media only screen and (min-width: 22em) {



}

@media only screen and (min-width: 33em) {

  .footer-message {
    padding-top: 1em;
  }

}

@media only screen and (min-width: 60em) {


}

@media only screen and (min-width: 90em) {



}