.about-holder {
  margin-top: -1em;
}

.about-title {
  text-transform: uppercase;
  color: rgb(56, 56, 56);
  padding-bottom: .2em;
}

.about {
  font-weight: 300;
  line-height: 1.4em;
  color: rgb(56, 56, 56);
}

.list-none {
  list-style: none;
}

.peices {
  margin-top: -1.5em;
}

.tag-holder {
  text-align: center;
}

.tag {
  display: inline-block;
  width: 3.2em;
}

.prev-next {
  padding-bottom: 4em;
  margin: 0 auto;
}

.prev {
  width: 3em;
  margin: 0 auto;
  transition: opacity 500ms linear;
}

.prev:hover {
  opacity: .7;
}

.next {
  width: 3em;
  margin: 0 auto;
  transition: opacity 500ms linear;
}

.next:hover {
  opacity: .7;
}

.spacer {
  display: block;
  border-style: inset;
  border-top: 1px solid rgb(56,56,56);
  margin: 0 10% 1em 10%;
}

@media only screen and (min-width: 22em) {

  .tag {
    padding: 0 .5em;
    width: 4.5em;
  }

}

@media only screen and (min-width: 33em) {

  .about-title {
    padding: 0 10%;
  }

  .about {
    padding: 0 10%;
  }

  .about-holder {
    margin-top: -2.5em;
  }

  .prev-next {
    padding: 0 15%;
  }

}

@media only screen and (min-width: 60em) {

	.about-title {
    padding: 0 15%;
  }

  .about {
    padding: 0 15%;
  }

  .prev-next {
    padding-top: 2.5em;
    padding: 0 20%;
  }

}

@media only screen and (min-width: 90em) {

  .about-title {
    padding: 0 20%;
  }

  .about {
    padding: 0 20%;
  }

  .prev-next {
    padding: 0 25%;
  }
}