.work-back {
  display: block;
  z-index: 2;
  overflow: hidden;
  min-height: 2em;
  padding-top: 20px;
  color: white;
  position: relative;
  bottom: 100px;
}

.header-img {
  position: relative;
  width: 400px;
  left: calc(50% - 200px);
  text-align: center;
  padding-bottom: 60px;
}

.line {
  border-top: 2px solid #fff;
  width: 10px;
  position: absolute;
  left: calc(50% - 10px);
}

.role {
  color: white;
  font-weight: 600px;
  text-align: center;
  padding-top: 15px;
}

.project-title {
  color: white;
  margin-bottom: 2px;
  font-size: 16px;
}

.sub {
  font-weight: 300;
  color: white;
  font-size: 26px;
}

.body {
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
}

.image-section {
  position: relative;
  top: 300px;
}

.content-back {
  top: 0;
  height: 500px;
  padding: 80px 30px 30px 30px;
}

.work-ul a{
  color: #000;
}

.about-holder {
  margin-top: -1em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.about-title {
  text-transform: uppercase;
  color: rgb(56, 56, 56);
  padding-bottom: .2em;
}

.about {
  font-weight: 300;
  line-height: 1.4em;
  color: rgb(56, 56, 56);
}

.list-none {
  list-style: none;
}

.peices {
  margin-top: -1.5em;
  margin: 0 10px;
}

.example-peice {
  padding-bottom: 2em;
}

.example-comment {
    text-align: center;
}

.tag-holder {
  text-align: center;
}

.tag {
  display: inline-block;
  width: 3.2em;
}

.prev-next {
  padding-bottom: 4em;
  margin: 0 auto;
}

.prev {
  width: 3em;
  margin: 0 auto;
  transition: opacity 500ms linear;
}

.prev:hover {
  opacity: .7;
}

.next {
  width: 3em;
  margin: 0 auto;
  transition: opacity 500ms linear;
}

.next:hover {
  opacity: .7;
}

.spacer {
  display: block;
  border-style: inset;
  border-top: 2px solid rgb(56,56,56);
  margin: 0 10% 1em 10%;
}

@media only screen and (min-width: 22em) {

  .tag {
    padding: 0 .5em;
    width: 4.5em;
  }

}

@media only screen and (min-width: 28em) {

  .header-img {
    width: 500px;
    left: calc(50% - 250px);
  }

}

@media only screen and (min-width: 33em) {

  .about-title {
    padding: 0 10%;
  }

  .about {
    padding: 0 10%;
  }

  .about-holder {
    margin-top: -2.5em;
  }

  .content-back {
    width: 500px;
  }

  .header-img {
    width: 800px;
    left: calc(50% - 400px);
  }

}

@media only screen and (min-width: 60em) {

	.about-title {
    padding: 0 15%;
  }

  .about {
    padding: 0 15%;
  }

  .content-back {
    width: 600px;
  }

  .header-img {
    width: 1000px;
    left: calc(50% - 500px);
  }

}

@media only screen and (min-width: 90em) {

  .about-title {
    padding: 0 20%;
  }

  .about {
    padding: 0 20%;
  }


}