<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Rebecca Dagenais</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation</a></li>
    <li><a href="#main">Skip to main content</a></li>
  </ul>

  <header role="banner" id="top" class="island back" style="background-image: url({{site.baseurl}}/img/{{page.banner}});">
    <input type="checkbox" class="nav-check" id="nav-check">
    <label class="nav-label" for="nav-check"><img class="hamburger" src="{{site.baseurl}}/img/hamburger.svg" alt="navigation-button"></label>
          <nav class="nav" role="navigation" id="nav">
      <ul class="ul-push">
        <li><a href="{{site.baseurl}}/" class="{% if page.url == 'index.html' %}current{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/#projects">Work</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="name-box-content">
      <h1 class="yotta name push-half">{{page.supertitle}}</h1>
      <h6 class="sub">{{page.supersub}}</h6>
    </div>
  </header>

{{content}}

  <footer role="contentinfo" class="footer" id="contact">
    <img class="tri-3" src="{{site.baseurl}}/img/white-tri.svg" alt="">
    <div class="grid">
      <div class="gutter unit unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <p class="footer-message">Check me out even more, or send me a message :)</p>
      </div>
      <div class="button-holder gutter unit unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <a class="buttons" href="https://www.behance.net/rebecca_dagenais"><img src="{{site.baseurl}}/img/behance.svg" alt="icon for behance"></a>
        <a class="buttons" href="https://www.linkedin.com/profile/view?id=AAIAABNfgUwBxebOvP5GgqR9tla3RPA0ACjc6xItrk=nav_responsive_tab_profile_pic"><img src="{{site.baseurl}}/img/linkedin.svg" alt="icon for linkedin"></a>
        <a class="buttons" href="mailto:hello@rebeccadagenais.ca"><img src="{{site.baseurl}}/img/mail.svg" alt="icon for email"></a>
      </div>
      <div class="button-holder unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <p><a class="top" href="#top">TOP</a></p>
      </div>
    </div>
  </footer>

</body>
</html>