<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Rebecca Dagenais</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}img/favicon.ico" rel="shortcut icon">
</body>
</html>
</head>
<body>

  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation</a></li>
    <li><a href="#main">Skip to main content</a></li>
  </ul>

{{content}}

  <footer role="contentinfo" class="footer" id="contact">
    <div class="grid-middle island-2">
      <div class="message-holder gutter unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <p class="footer-message giga">For more about me and my process contact me anytime!</p>
      </div>
      <div class="button-holder gutter unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
        <a class="buttons" href="https://www.behance.net/rebecca_dagenais"><img src="{{site.baseurl}}/img/behance.svg" alt="icon for behance"></a>
        <a class="buttons" href="https://www.linkedin.com/in/rebecca-dagenais-9a4a2590?trk=nav_responsive_tab_profile_pic"><img src="{{site.baseurl}}/img/linkedin.svg" alt="icon for linkedin"></a>
        <a class="buttons" href="mailto:hello@rebeccadagenais.ca"><img src="{{site.baseurl}}/img/mail.svg" alt="icon for email"></a>
      </div>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
  <script src="js/main.js"></script>


</body>
</html>