---
layout: default
title: Portfolio
meta: Please enjoy looking thrugh my portfolio peices
---

<main>
	<div class="grid">
	  <ul>
	     <li class="island unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
	     	<img class="tri-1" src="{{site.baseurl}}/img/white-tri.svg" alt="">
	     	<h6 class="about-title push-none">Goal</h6>
	        <p class="about micro">{{page.goal}}</p>
	        <h6 class="about-title push-none">Obstacles</h6>
	        <p class="about micro">{{page.obstacles}}</p>
	        <h6 class="about-title push-none">Outcome</h6>
	        <p class="about micro">{{page.outcome}}</p>
	        {% for img in page.images %}
	        	<img src="{{site.baseurl}}/img/{{img}}" alt"">
	        {% endfor %}
	        <p>{{page.tags}}</p>
	     </li>
	  </ul>
	</div>

	<button>
		<a href="">Prev</a>
		</button>
	<button>
		<a href="">Next</a>
	</button>
</main>


